body {
  background-color: #965A3E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  width: 80%;
  height: 100px;
  border-radius: 10px;
  background-color: #FAF5EF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes colorChange {
  0% { color: #965A3E; }
  25% { color: #FAF5EF; }
  50% { color: #6A9A37; }
  75% { color: #D2B48C; }
  100% { color: #FFFDD0; }
}

.animated-text {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: colorChange 3s infinite;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

img {
  margin: 0 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.resize-container {
  margin-top: 20px;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

button {
  background-color: #6A9A37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #56792E;
}